version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: ci
      include: scope

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      npm-prod:
        dependency-type: production
        update-types:
          - minor
          - patch
        exclude-patterns:
          - "@mdn/*"
      npm-dev:
        dependency-type: development
        update-types:
          - minor
          - patch
        exclude-patterns:
          - "@mdn/*"
    commit-message:
      prefix: chore
      include: scope
