node_modules/
.env
conf/config.json
conf/hsts-preload.json
conf/public-suffix-list.js
conf/tld-list.json
api-examples.http
mdn-observatory-webext/dist
.DS_Store
compare_output.txt
load-script.js
.vscode/
