# run unit tests
name: build-and-test

on:
  workflow_dispatch:
  push:
    branches: [main, wip-andi]
  pull_request:
    branches: [main]

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: observatory
          POSTGRES_PASSWORD: observatory
          POSTGRES_DB: observatory
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: ".nvmrc"
          package-manager-cache: false

      - name: Install dependencies
        run: "npm install"

      - name: Run type checks
        run: "npm run tsc"

      - name: Run tests
        run: npm test
        env:
          PGDATABASE: observatory
          PGHOST: localhost
          PGUSER: observatory
          PGPASSWORD: observatory
